body {
  padding: 0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
}

header {
  color: white;
  padding: 40px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #4A148C;
}

@media (min-width:768px) {
  header {
    height: 15vh;
  }
}

header > h1 {
  font-size: 28px;
  font-weight: 500;
  margin:0;
}

@media (min-width:768px) {
  header > h1 {
    font-size: 36px;
  }
}
#banner {
  background-image: url('images/manchester.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 20vh;
}

@media(min-width:768px) {
  #banner {
    height:40px;
  }
}

#weather {
 padding: 40px;
}

@media(min-with:768px) {
  #weather {
    display: flex;
    height: 45vh;
  }
}

